:root {
  --primary-red: hsl(0, 100%, 74%);
  --primary-green: hsl(154, 59%, 51%);
  --accent-blue: hsl(248, 32%, 49%);
  --neutral-dark-blue: hsl(249, 10%, 26%);
  --neutral-grayish-blue: hsl(246, 25%, 77%);
}




/* Reset */
*, 
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button,
input {
  /* In some browsers form elements do not inherit font styling */
  font-family: inherit;
  font-size: 100%;
}




/* custom styles */
body {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  line-height: 1.5;
  min-height: 100vh;
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  background-color: var(--primary-red);
  background-image: url('../images/bg-intro-mobile.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.container {
  width: 90%;
  margin: 60px auto 0;
}




/* Typography */
h1 {
  color: #fff;
  font-size: 1.75rem; /* 28px */
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

h1, 
p {
  text-align: center;
}



/* Intro Content */
.content {
  padding: 30px 8px 50px;
}




/* form section */
.action__price {
  padding: 20px 60px;
  background-color: var(--accent-blue);
  border-radius: 8px;
  margin-bottom: 20px;
}

.action__price span {
  color: #fff;
}

.action__form {
  border: 2px solid;
  border-radius: 8px;
  background: #fff;
  padding: 20px;
  padding-bottom: 0;
}

.action__form div:not(:nth-child(5)) {
  margin-bottom: 15px;
}

.action__form input {
  display: block;
  width: 100%;
  padding: 15px;
  outline: none;
  border: 2px solid hsl(0, 5%, 92%);
  border-radius: 5px;
}

.action__form input::placeholder {
  font-weight: 700;
}

.action__form button {
  display: block;
  width: 100%;
  color: #fff;
  background-color: var(--primary-green);
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 20px;
  box-shadow: 0 3px 2px hsl(120, 96%, 33%);
}

.action__terms {
  color: var(--neutral-grayish-blue);
  font-size: 0.75rem;   /* 12px */
  padding: 15px;
}

.action__terms span {
  color: var(--primary-red);
}


@media screen and (min-width: 600px) {
  h1,
  p {
    text-align: left;
  }

  h1 {
    font-size: 32px;
  }

  body {
    background-image: url("../images/bg-intro-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    align-items: center;
  }

  .container {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    justify-content: space-around;
  }

  .content {
    align-self: center;
    padding: 0;
  }

  .action__price {
    padding: 15px;
    text-align: center;
  }

  .action__form button {
    padding: 10px;
  }

  .action__terms {
    padding: 10px 0;
    text-align: center;
  }
}


@media screen and (min-width: 960px) {
  .container {
    grid-template: 1fr / 500px 450px;
  }
}